.carta{
    
}

.carta:hover{
    border: 6px white solid;
    cursor: pointer;
}

.cartaSola:hover{
    cursor: pointer;
}

.texto{
    font-family: 'Courier New';
    font-weight: bold;
    font-size: 20px;
}

.atras{
    filter: invert(100%);
}